<div class="container">

  </div>
   <%= render './layouts/shopping_cart', order: @orders %>
  <h1 class="ml-3">Mes stocks</h1>

  <div class="container d-flex justify-content-around">
     <div class="bg-white rounded shadow">
      <!-- Fixed header table-->
        <table class="table table-fixed ml-3">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Article</th>
              <th scope="col">Catégorie</th>
              <th scope="col">Stock optimal</th>
              <th scope="col">Stock en cours</th>
              <th scope="col">Niveau de stock</th>
            </tr>
          </thead>
          <tbody>
            <%@inventory_items.each do |item|  %>
              <tr>
                <th scope="row"></th>
                <td><%= item.product.name %></td>
                <td><%= item.product.category %></td>
                <td><%= item.optimal_quantity.round(2) %><%= item.product.unit %></td>
                <td><%= item.quantity %><%= item.product.unit %></td>
                <td>
                  <div class="progressBar d-flex">

                    <div class="progressRed">
                    </div>
                    <div class="progressOrange">
                    </div>
                    <div class="progressGreen">
                    </div>
                  </div>

                  <div class="mt-3 text-center">
                     <span id="stocklevel"><%= ((item.quantity/item.optimal_quantity)*100).round(1)%></span>
                   %
                   </div>
                </td>
              </tr>
             <% end %>
           </tbody>
          </table>
        </div>

        <!-- End of table-->

        <!-- Second table-->

        <div class="bg-white rounded shadow ml-3">
          <table class="table table-fixed">
            <thead>
              <tr>
                <th scope="col">Commander</th>
                <th scope="col">Fournisseur</th>
                <th scope="col">Prix unitaire</th>
                <th scope="col">Total H.T.</th>
              </tr>
            </thead>
            <tbody>
              <%@inventory_items.each do |item|  %>
                <tr>
                  <td>
                      <div class="quantitybutton d-flex">
                        <span id="minusbutton">-</span>
                        <input id="quantityinput" type="text" value="<%= ((item.optimal_quantity - item.quantity) > 0) ? (item.optimal_quantity - item.quantity).round(2) : 0 %>"/>
                        <span id="plusbutton">+</span>
                      </div>
                  </td>
                <td>
                  <div class="d-flex justify-content-between">
                    <% if item.product.order_items.joins(:order).where(orders: { validated: false} ).size.zero? %>
                      <%= item.product.suppliers.first.name %>
                    <% else %>
                      <%= item.product.order_items.joins(:order).where(orders: { validated: false} ).last.supplier_item.supplier.name %>
                    <% end %>
                  <button type="button" class="button-green-supplier" data-toggle="modal" data-target="#exampleModal-<%= item.id %>"><strong>> </strong></button>
                  </div>

                    <!-- Modal -->

                  <div class="modal fade" id="exampleModal-<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content" style="width: 340px">
                        <div class="modal-header">
                          <h5 class="modal-title" id="Modalpriceperfourn">Choisissez votre fournisseur</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class='text-center m-0'>
                          <p class="font-weight-bold text-center"> Fournisseur - Prix unitaire (€HT) </p>
                              <% item.product.supplier_items.each do |supplier_item| %>
                                <%= simple_form_for [supplier_item, @order_item] do |f| %>
                                  <%= f.input :quantity, input_html: { value: "#{((item.optimal_quantity - item.quantity) > 0) ? (item.optimal_quantity - item.quantity).round(2) : 0 }" }, as: :hidden %>
                                    <%= f.button :submit, "#{supplier_item.supplier.name}      -      #{supplier_item.price_per_product}€", class: "button-grey" %>
                                  <% end %>
                                <% end %>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary text-center height: 50px" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <% if item.product.order_items.joins(:order).where(orders: { validated: false} ).size > 0 %>
                      <%= item.product.order_items.joins(:order).where(orders: { validated: false} ).last.supplier_item.price_per_product %>
                    <% end %>
                </td>
                <td>
                  <% if item.product.order_items.joins(:order).where(orders: { validated: false} ).size > 0 %>
                      <%= (item.product.order_items.joins(:order).where(orders: { validated: false} ).last.supplier_item.price_per_product * item.product.order_items.joins(:order).where(orders: { validated: false} ).last.quantity).round(2) %>
                    <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
     <!--End of second table-->
 </div>
</div>


