<div class="container">
  <div >
    <%= render './layouts/shopping_cart', order: @orders %>
  </div>

  <div class="container d-flex justify-content-around">
     <div class="table stock-table">

        <table class="inventory-table">
          <!-- Fixed header table-->
          <thead class="header-inventory">
            <tr>
              <!-- Stock section -->
              <div class="stock-section">
                <th id="article" class="bg-light" scope="col">Article</th>
                <th class="bg-light" scope="col">Catégorie</th>
                <th class="bg-light" scope="col">Stock optimal</th>
                <th class="bg-light" scope="col">Stock en cours</th>
                <th class="bg-light" scope="col">Niveau de stock</th>
              </div>

              <!-- Order section -->
              <div class="order-section">

                <th scope="col">Commander</th>
                <th scope="col">Fournisseur (-PU€)</th>
                <th scope="col">Prix unitaire</th>
                <th scope="col">Total H.T.</th>
              </div>

            </tr>
          </thead>
          <!-- body table-->
          <tbody class="body-inventory">
            <%@inventory_items.each do |item|  %>
              <tr>
                  <!-- Stock section -->
                  <div class="stock-section">
                    <td id="article" class="bg-light" ><%= item.product.name.capitalize %></td>
                    <td class="bg-light" ><%= item.product.category.capitalize %></td>
                    <td class="bg-light stock-optimal" ><%= item.optimal_quantity.round(2) %> <%= item.product.unit %></td>
                    <td class="bg-light" ><%= item.quantity %> <%= item.product.unit %></td>
                    <td class="bg-light" >
                      <div class="progressBar d-flex">
                        <div class="progressRed">
                        </div>
                        <div class="progressOrange">
                        </div>
                        <div class="progressGreen">
                        </div>
                      </div>
                      <div class="mt-2 text-center">
                         <span id="stocklevel"><%= "%.0f" % (item.quantity/item.optimal_quantity*100)%></span>
                       %
                     </div>
                    </td>
                  </div>

                <!-- Order section -->
                <td>
                  <div class="order-section">
                    <div class="quantitybutton d-flex">
                    <span id="minusbutton">-</span>
                    <input id="quantityinput" data-itemid="<%= item.id %>" type="text" value="<%= ((item.optimal_quantity - item.quantity) > 0) ? (item.optimal_quantity - item.quantity).ceil : 0 %>"/>
                    <span id="plusbutton">+</span>
                  </div>
                  </td>
                <td>
                  <select class="select2 supplier-select">
                    <% item.product.supplier_items.each do |supplier_item| %>
                      <option style="width: 120px" value="<%= supplier_item.id %>" data-label="<%= supplier_item.supplier.name %> - <%= supplier_item.price_per_product %>€"><%= supplier_item.supplier.name %></option>
                    <% end %>
                  </select>
                </td>
                <td id="prixunitaireht-<%= item.id %>">
                  <% if item.product.order_items.joins(:order).where(orders: { validated: false} ).size > 0 %>
                      <%= item.product.order_items.joins(:order).where(orders: { validated: false} ).last.supplier_item.price_per_product %>
                    <% end %>
                    <span> €</span>
                </td>
                <td>
                  <span id="totalht-<%= item.id %>">
                    <% if item.product.order_items.joins(:order).where(orders: { validated: false} ).size > 0 %>
                      <%= (item.product.order_items.joins(:order).where(orders: { validated: false} ).last.supplier_item.price_per_product * item.product.order_items.joins(:order).where(orders: { validated: false} ).last.quantity).round(2) %>
                    <% end %>
                  </span>
                    <span> €</span>
                </td>
              </tr>

             <% end %>
           </tbody>
          </table>
        </div>
 </div>
</div>



<%= simple_form_for (Order.new) do |order_form| %>
  <%= order_form.simple_fields_for :order_items do |order_item_form| %>
  <%= item.product.name.capitalize %>
  <%= "#{quantity line}" %>
  <%= order_item_form.input :quantity..... %>
  <br>
  <div>class Select2frs</div>
  <div>PU</div>
  <div>Prix total</div>
  <% end %>
<% end %>
