<!-- <div class="container"> -->
<div class="content-order">
<!--new table -->
  <div class="inventory-table">
    <div class="inventory-table-header">
      <div id="inventory-table-header" class="box text-left">Article</div>
      <div id="inventory-table-header" class="box text-left">Catégorie</div>
      <div id="inventory-table-header" class="box text-left">Stock optimal</div>
      <div id="inventory-table-header" class="box text-left ">Stock en cours</div>
      <div id="inventory-table-header" class="box text-center">Niveau de stock</div>
      <div id="inventory-table-header" class="box text-center">Commander</div>
    </div>
    <!-- Table Rows -->
    <div id="style-15" class="inventory-table-body">
      <%@inventory_items.each do |item|  %>
        <div class="inventory-row">
          <div class="box"><%= item.product.name.capitalize %></i></div>
          <div class="box"><%= item.optimal_quantity.round(2) %> <%= item.product.unit %></div>
          <div class="box"><%= item.quantity %> <%= item.product.unit %></div>
          <div class="box">

            <div class="stock-level-box-content">
              <div class="progressBar d-flex">
                <div class="progressRed">
                </div>
                <div class="progressOrange">
                </div>
                <div class="progressGreen">
                </div>
              </div>

              <div>
                <span id="stocklevel"><%= "%.0f" % (item.quantity/item.optimal_quantity*100)%></span>
                <span>%</span>
             </div>
            </div>

          </div>
          <div id ="plus-minus-column" class="box">
            <div class="quantitybutton d-flex">
              <span id="minusbutton">-</span>
              <input id="quantityinput" data-itemid="<%= item.id %>" type="text" value="<%= item.quantity_to_order %>"/>
              <span id="plusbutton">+</span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>





    <div class="myshopping-cart-body">
      <%= simple_form_for [@restaurant, Order.new] do |order_form| %>
        <!--panier -->
        <div class="myshopping-cart">
          <div class="myshopping-cart-header">
            <i class="fas fa-shopping-cart"></i>
            <p>Mon panier</p>
              <div class="dropdown">
                <div id="cart">
                 <p><span id="in-cart-items-num"></span></p>
                </div>
              </div>
          </div>
        </div>

        <div class="myshopping-cart-list">
          <div id="style-15" class="scrollable-list">
            <% @inventory_items.each_with_index do |item, index| %>
              <%= order_form.simple_fields_for :order_items, OrderItem.new do |order_item_form| %>
                <% if item.optimal_quantity - item.quantity > 0 %>
                    <div class="shopping-cart-box">
                      <!-- colonne 1 avec photo -->
                      <div class="shopping-cart-part1">
                        <div class="article-column1">
                          <!-- <div class="photo-box">
                            <img class="article-photo" src="https://img-3.journaldesfemmes.fr/4PYoBAo1J5rsDbuMiSTNRGolvhc=/910x607/smart/3b81125b1cbd46f7af87766bb8430152/ccmcms-jdf/10659145.jpg" alt="">
                          </div> -->
                        </div>

                        <!-- colonne 2 avec nom article et quantité-->
                        <div class="article-column2">
                          <div id="cart-product-name"> <%=item.product.name.capitalize.truncate(15)%>
                          </div>
                          <div class="ordered-quantity">
                            <span id="item-quantity-<%=item.id%>">
                              <%= item.quantity_to_order %>
                            </span>
                            <span> <%= item.product.unit %></span>
                            <%= order_item_form.input :quantity,as: :hidden, input_html: { class:"input-cart-box", id:"hidden-quantity-#{item.id}", value: "#{item.quantity_to_order}" }  %>
                          </div>
                        </div>
                      </div>

                      <div class="shopping-cart-part2">
                        <div class="article-column3">
                          <!--select2 fournisseur-->
                          <select data-item-id="<%= item.id %>" data-prixht="prixunitaireht-<%= item.id %>" name="order[order_items_attributes][<%=index%>][supplier_item_id]" class="select2 supplier-select" style="width:150px">

                            <% item.product.supplier_items.each do |supplier_item| %>
                              <option id="<%= supplier_item.id %>" data-prix="<%= supplier_item.price_per_product %>" value="<%= supplier_item.id %>" data-label="<%= supplier_item.supplier.name %> - <%= supplier_item.price_per_product %>€"><%= supplier_item.supplier.name %>
                              </option>
                            <% end %>
                          </select>
                          <!--prix unitaire par fournisseur-->
                          <div class="prix-unitaire-cart">
                            x
                            <strong id="prixunitaireht-<%= item.id %>"><%= item.product.supplier_items.first.price_per_product %></strong>
                            <span>€/<%= item.product.unit %></span>

                          </div>
                        </div>
                        <div class="article-column4">

                          <!--calcul sous-total-->
                          <div>
                            <span class="sous-total" id="totalht-<%= item.id %>"><%= '%.2f' % (item.product.supplier_items.first.price_per_product * item.quantity_to_order)%></span>
                            <span class="currency-soustotal">&nbsp;€</span>
                          </div>
                        </div>
                      </div>
                    </div>
                <% end %>
              <%end %>
            <%end%>
          </div>
        </div>
        <div class="form-bottom">
          <p class="total-total">TOTAL: <span id="total-shop-cart" class="total-shopping-cart"></span>&nbsp;€ HT</p>
          <span><%= order_form.button :submit, "Passer commande", id:"confirm-command", class:"button-panier" %></span>

        </div>
      <%end%>
    </div>

</div>
