<div class="container mt-5">
  <div><h3 class="border text-right">Mon panier</h3></div>


  <div class="d-flex">
  <div>
    <h1>Mes stocks</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Article</th>
            <th scope="col">Catégorie</th>
            <th scope="col">Stock optimal</th>
            <th scope="col">Stock en cours</th>
            <th scope="col">Niveau de stock</th>
          </tr>
        </thead>
        <tbody>
          <%@inventory_items.each do |item|  %>
            <tr>
              <th scope="row"></th>
              <td><%= item.product.name %></td>
              <td><%= item.product.category %></td>
              <td><% @restaurant = item.restaurant %>
                  <% @product = item.product  %>
                  <% @recipes_with_same_ingredient= Ingredient.where(product: @product) %>
                  <% @optimal_stock_total = 0 %>
                  <% @recipes_with_same_ingredient.each do |ingredient|  %>
                    <% @ingredient_quantity = ingredient.quantity  %>
                    <% @recipe = ingredient.recipe  %>
                    <% @restaurant_recipe = RestaurantRecipe.where(restaurant: @restaurant, recipe: @recipe) %>
                    <% @plate = @restaurant_recipe.first.plate %>
                    <% @optimal_stock_per_recipe = @ingredient_quantity * @plate%>
                    <% @optimal_stock_total += @optimal_stock_per_recipe %>
                    <% @optimal_stock_total %>
                  <% end %>
              <%= @optimal_stock_total.round(2) %><%= item.product.unit %>
              </td>
              <td><%= item.quantity %><%= item.product.unit %></td>
              <td>barre d'alerte avec niveau de stock</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div>
      <h1>Mes commandes</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Commander</th>
            <th scope="col">Fournisseur</th>
            <th scope="col">Prix unitaire</th>
            <th scope="col">Total H.T.</th>
          </tr>
        </thead>
        <tbody>
          <%@inventory_items.each do |item|  %>
            <tr>
              <th scope="row"></th>
              <td>
                  <div class="quantitybutton d-flex">
                    <span id="minusbutton">-</span>
                    <input id="quantityinput" type="text" value="<%= ((@optimal_stock_total - item.quantity) > 0) ? (@optimal_stock_total - item.quantity).round(2) : 0 %>"/>
                    <span id="plusbutton">+</span>
                  </div>
              </td>
              <td>
                <div class="d-flex justify-content-between">
                <%= item.product.suppliers.first.name %>
                <button type="button" class="btn btn-primary width: 200px" data-toggle="modal" data-target="#exampleModal-<%= item.id %>"> > </button>
                </div>

                  <!-- Modal -->

                <div class="modal fade" id="exampleModal-<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="Modalpriceperfourn">Choisissez votre fournisseur</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <% item.product.supplier_items.each do |supplier_item| %>
                          <%= simple_form_for [supplier_item, @order_item] do |f| %>
                            <div class="d-flex justify-content-between"> <%= supplier_item.supplier.name %> <%= supplier_item.price_per_product %>€</div>
                            <%= f.input :quantity, input_html: { value: "#{((@optimal_stock_total - item.quantity) > 0) ? (@optimal_stock_total - item.quantity).round(2) : 0 }" }, as: :hidden %>
                            <%= f.button :submit, "#{supplier_item.supplier.name}" %>
                          <% end %>
                        <% end %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary text-center height: 50px" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>3€</td>
              <td>3€</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>





















