
<div class="container mt-5">
  <div><h3 class="border text-right">Mon panier</h3></div>


<h1>Mes stocks</h1>



<table class="table">

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Article</th>
      <th scope="col">Catégorie</th>
      <th scope="col">Stock optimal
        </th>
      <th scope="col">Stock en cours</th>
      <th scope="col">Niveau de stock</th>
      <th scope="col">Commander</th>
      <th scope="col">Fournisseur</th>
      <th scope="col">Prix unitaire</th>
      <th scope="col">Total H.T.</th>
    </tr>
  </thead>
  <tbody>
    <%@inventory_items.each do |item|  %>
      <tr>
        <th scope="row"></th>
        <td><%= item.product.name %></td>
        <td><%= item.product.category %></td>
        <td><%= item.optimal_quantity.round(2) %><%= item.product.unit %></td>
        <td><%= item.quantity %><%= item.product.unit %></td>
        <td>barre d'alerte avec niveau de stock</td>
        <td>
          <div class="quantitybutton d-flex">
            <span id="minusbutton">-</span>
            <input id="quantityinput" type="text" value="1"/>
            <span id="plusbutton">+</span>
          </div>
        </td>
        <td>fournisseur référent + option autre fournisseur+ bouton add to cart</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>

</table>

</div>























