<!-- <div class="container"> -->
  <div class="content-order">
  <!--new table -->
    <div class="inventory-table">
      <div class="inventory-table-header">
        <div id="inventory-table-header" class="box">Article</div>
        <div id="inventory-table-header" class="box">Catégorie</div>
        <div id="inventory-table-header" class="box">Stock optimal</div>
        <div id="inventory-table-header" class="box">Stock en cours</div>
        <div id="inventory-table-header" class="box">Niveau de stock</div>
        <div id="order-box" class="box inventory-table-header">Commander</div>
      </div>
      <!-- Table Rows -->
      <div class="inventory-table-body">
        <%@inventory_items.each do |item| %>
          <div class="inventory-row">
            <div class="box"><%= item.product.name.capitalize %></i></div>

            <div class="box"><i class="fas fa-carrot"></i> <%= item.product.category.capitalize %></div>
            <div class="box"><%= item.optimal_quantity.round(2) %> <%= item.product.unit %></div>
            <div class="box"><%= item.quantity %> <%= item.product.unit %></div>
            <div class="box">
              <div class="progressBar d-flex">
                <div class="progressRed">
                </div>
                <div class="progressOrange">
                </div>
                <div class="progressGreen">
                </div>
              </div>
              <div class="mt-2 text-center">
                 <span id="stocklevel"><%= "%.0f" % (item.quantity/item.optimal_quantity*100)%></span>
               %
             </div>
            </div>
            <div id ="plus-minus-column" class="box">
              <div class="quantitybutton d-flex">
                <span id="minusbutton">-</span>
                <input id="quantityinput" data-itemid="<%= item.id %>" type="text" value="<%= ((item.optimal_quantity - item.quantity) > 0) ? (item.optimal_quantity - item.quantity).ceil : 0 %>"/>
                <span id="plusbutton">+</span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <!--panier -->
    <div class="myshopping-cart">
      <div class="myshopping-cart-header">
        <i class="fas fa-shopping-cart"></i>
        <p>Mon panier</p>
      </div>
      <div class="myshopping-cart-body">
        <div class="myshopping-cart-row">
          <div class="shopping-cart-box">Carottes</i></div>
          <div class="shopping-cart-box">5</div>
          <div class="shopping-cart-box">Jayden</div>
          <div class="shopping-cart-box">px/u</div>
          <div class="shopping-cart-box">sous tot HT</div>
        </div>

      </div>

    </div>


  </div>
<!-- </div> -->

