<!-- <div class="container"> -->
<div class="content-order">
<!--new table -->
  <div class="inventory-table">
    <div class="inventory-table-header">
      <div id="inventory-table-header" class="box">Article</div>
      <div id="inventory-table-header" class="box">Catégorie</div>
      <div id="inventory-table-header" class="box">Stock optimal</div>
      <div id="inventory-table-header" class="box">Stock en cours</div>
      <div id="inventory-table-header" class="box">Niveau de stock</div>
      <div id="order-box" class="box inventory-table-header">Commander</div>
    </div>
    <!-- Table Rows -->
    <div class="inventory-table-body">
      <%@inventory_items.each do |item|  %>
        <div class="inventory-row">
          <div class="box"><%= item.product.name.capitalize %></i></div>
          <div class="box"><%= item.product.category.capitalize %></div>
          <div class="box"><%= item.optimal_quantity.round(2) %> <%= item.product.unit %></div>
          <div class="box"><%= item.quantity %> <%= item.product.unit %></div>
          <div class="box">
            <div class="progressBar d-flex">
              <div class="progressRed">
              </div>
              <div class="progressOrange">
              </div>
              <div class="progressGreen">
              </div>
            </div>
            <div class="mt-2 text-center">
               <span id="stocklevel"><%= "%.0f" % (item.quantity/item.optimal_quantity*100)%></span>
             %
           </div>
          </div>
          <div id ="plus-minus-column" class="box">
            <div class="quantitybutton d-flex">
              <span id="minusbutton">-</span>
              <input id="quantityinput" data-itemid="<%= item.id %>" type="text" value="<%= ((item.optimal_quantity - item.quantity) > 0) ? (item.optimal_quantity - item.quantity).ceil : 0 %>"/>
              <span id="plusbutton">+</span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <!--panier -->
  <div class="myshopping-cart">
    <div class="myshopping-cart-header">
      <i class="fas fa-shopping-cart"></i>
      <p>Mon panier</p>
        <div class="dropdown">
        <div id="cart">
         <p><span id="in-cart-items-num">0</span> Articles</p>
        </div>
    </div>
  </div>


    <div class="myshopping-cart-body">
      <%= simple_form_for [@restaurant, Order.new] do |order_form| %>
        <div class="myshopping-cart-list">
          <%@inventory_items.each_with_index do |item, index| %>
          <% if item.optimal_quantity - item.quantity > 0 %>
            <%= order_form.simple_fields_for :order_items, OrderItem.new do |order_item_form| %>
              <div class=article>
                <div class="shopping-cart-box ">
                  <!-- ligne 1 avec nomde l'article et quantité -->
                  <div class="article-line1 ">
                    <!--nom article-->
                    <%=item.product.name.capitalize%>
                    <!--quantité-->
                    <span id="item-quantity-<%=item.id%>">
                      <%= "#{((item.optimal_quantity - item.quantity) > 0) ? (item.optimal_quantity - item.quantity).ceil : 0 }" %>
                    </span>

                    <!--unité-->
                    <span><%= item.product.unit %></span>
                    <%= order_item_form.input :quantity,as: :hidden, input_html: { class:"input-cart-box", id:"hidden-quantity-#{item.id}", value: "#{((item.optimal_quantity - item.quantity) > 0) ? (item.optimal_quantity - item.quantity).ceil : 0 }" }  %>
                  </div>

                  <!-- ligne 2 avec fournisseur, prix unitaire, sous-total-->
                  <div class="article-line2">
                    <!-- part1 - fournisseurs -->
                    <div class="article-line2-part1">
                      <select data-prixht="prixunitaireht-<%= item.id %>" name="order[order_items_attributes][<%=index%>][supplier_item_id]" class="select2 supplier-select" style="width:150px">
                        <% item.product.supplier_items.each do |supplier_item| %>
                          <option id="<%= supplier_item.id %>" data-prix="<%= supplier_item.price_per_product %>" value="<%= supplier_item.id %>"data-label="<%= supplier_item.supplier.name %> - <%= supplier_item.price_per_product %>€"><%= supplier_item.supplier.name %>
                          </option>
                        <% end %>
                      </select>
                    </div>
                    <!-- part2 - prix unitaire et sous-total-->
                    <div  class="article-line2-part2">
                      <!-- prix unitaire -->
                      <div id="prixunitaireht-<%= item.id %>">
                        <%= item.product.supplier_items.first.price_per_product %>
                        <span> €</span>
                      </div>
                      <!-- sous-total -->
                      <div id="totalht-<%= item.id %>">
                        <%= item.product.supplier_items.first.price_per_product * item.quantity.ceil %>
                      </div>
                      <span> €</span>
                    </div>
                  </div>
              </div>
            <%end %>
          <%end %>
          <%end%>
        </div>
        <p>Total : <span class="total-shopping-cart"></span>€ H.T.</p>
        <%=order_form.button :submit, "Passer commande", id:"confirm-command", class:"btn btn-primary" %>
      <%end%>
    </div>

</div>





