<!-- Commande reçu -->



  <div class="card-product-header">
    <div class="card-product-num-header">
      <h2> # </h2>
    </div>
    <div class="card-product-supplier-header">
      <h2> Fournisseur </h2>
    </div>
    <div class="card-product-total-header">
      <h2> Total </h2>
      </div>
    <div class="card-product-action-header">
     <h2> Action </h2>
    </div>
    <div class="card-product-action-header">
     <h2> Exporter </h2>
    </div>
  </div>

    <% @orders.each do |order| %>
    <% if order.delivered == false %>
    <% else %>

    <div class="card-product">

      <div class="card-product-num">
        <h2><%= order.order_number %></h2>
      </div>
      <div class="card-product-supplier">
        <h2> <%= order.supplier.name %> </h2>
      </div>
      <div class="card-product-total">
        <h2> <%= order.total.round(2) %> € </h2>
      </div>

      <div class="card-product-action">
        <button class="button-green-order" type="button" data-toggle="modal" data-target="#Modal<%= order.id %>">
          Afficher les détails
        </button>
        <div class="modal fade" id="Modal<%= order.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><%= order.supplier.name.capitalize %> - <%= order.order_number %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="order-product">
                  <table class="table details">
                    <thead>
                      <tr>
                        <th scope="col">Produit</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Quantité commandée</th>
                        <th scope="col">Total</th>
                      </tr>
                    </thead>
                  <% order.order_items.each do |order_item| %>
                    <tbody>
                        <tr>
                          <td><%= order_item.supplier_item.product.name.capitalize %></th>
                          <td><%= order_item.supplier_item.price_per_product %>€ / <%= order_item.unit %></td>
                          <td><%= order_item.quantity%> <%= order_item.unit %></td>
                          <td><%= order_item.price.round(2)%>€</td>
                        </tr>
                      </tbody>
                      <% end %>
                </table>

                  <div class="total-order">
                    <h5><%= order.total.round(2) %> €</h5>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>

      </div>
      <div class="card-product-export">
        <i><%= image_tag "pdf.png" %></i>
        <i><%= image_tag "excel.png" %></i>
        <i><%= image_tag "mail.png" %></i>
      </div>

    </div>

    <% end %>
  <% end %>


