<nav class="main-menu">
  <ul>
    <p id="logos">
        <%#= image_tag 'marius-et-lucien-logo.png', style: "width: 200px;" %>
      <% if user_signed_in? %>
        <%= link_to root_path do %>
          <%= image_tag 'marius-et-lucien-logo.png', style: "width: 200px;" %>
        <% end %>
        <!-- <img id="logo-marius" src="marius-et-lucien-logo.png" alt=""> -->
      <% end %>
    </p>
    <% unless current_page?(root_path) %>
      <li class="has-subnav">
    <% else %>
      <li class="has-subnav current-page">
    <% end %>
      <i class="fa fa-home fa-2x"></i>
    <span id="dashboard" class="nav-text">
        <%= link_to "Tableau de bord", root_path(@restaurant), class: "side-link" %>
    </span>
      </li>

    <% unless current_page?(inventory_items_update_path(@restaurant)) %>
      <li class="has-subnav">
    <% else %>
      <li class="has-subnav current-page">
    <% end %>
      <i class="fa fa-cash-register fa-2x"></i>
    <span class="nav-text">
      <%= link_to "Gestion du stock", inventory_items_update_path(@restaurant), class: "side-link" %>
    </span>
      </li>

    <% unless current_page?(restaurant_inventory_items_path(@restaurant)) %>
      <li class="has-subnav">
    <% else %>
      <li class="has-subnav current-page">
    <% end %>
      <i class="fas fa-cart-plus fa fa-2x"></i>
    <span class="nav-text">
      <%= link_to "Nouvelle commande", restaurant_inventory_items_path(@restaurant), class: "side-link" %>
    </span>
      </li>

    <% unless current_page?(restaurant_orders_path(@restaurant)) %>
      <li class="has-subnav">
    <% else %>
      <li class="has-subnav current-page">
    <% end %>
      <i class="fa fa-list fa-2x "></i>
    <span class="nav-text">
      <%= link_to "Suivre mes commandes", restaurant_orders_path(@restaurant), class: "side-link" %>
    </span>
      </li>
  </ul>
  <div class="d-flex">
    <ul class="settings">
      <li>
        <i class="fa fa-users-cog fa-2x has-subnav"></i>
        <span class="nav-text">Paramètres</span>
      </li>
      <li>
        <i class="fa fa-power-off fa-2x has-subnav"></i>
        <span class="nav-text">
          <% if user_signed_in? %>
            <%= link_to "Log Out", destroy_user_session_path(@user), method: :delete, class: "side-link" %>
          <% else %>
            <%= link_to "Log in", new_user_session_path, class: "side-link" %>
          <% end %>
        </span>
      </li>
    </ul>
  </div>
</nav>
