<% @orders.each do |order| %>

<li><%= order.order_number %></li>
<li><%= order.supplier.name %></li>
<li><%= order.total %></li>
<% end %>

<div class="around">
  <table>
      <thead class="column">
        <tr>
          <th class ="col-name">#</th>
          <th class ="col-name">Nom du fournisseur</th>
          <th class ="col-name">Total de la commande</th>
          <th class ="col-name">Statut</th>
        </tr>
      </thead>

    <tbody>
      <tr>
        <th class ="row-table">1</th>
        <td class ="row-content">Mark</td>
        <td class ="row-content">Otto</td>
        <td class ="row-content">@mdo</td>
      </tr>
      <tr>
        <th class ="row-table">1</th>
        <td class ="row-content">Mark</td>
        <td class ="row-content">Otto</td>
        <td class ="row-content">@mdo</td>
      </tr>
    </tbody>
  </table>

<!-- query pour index order -->

  <div class='searchform'>
      <%= form_tag(orders_search_path, method: 'get') do %>
      <div class="field p-3 d-flex justify-content-around align-items-center">
        <%= 'Fournisseur :' %><%= text_field_tag 'supplier' %>
      </div>
      <% end %>
  </div>




<div class="container" id="global-container">


  <h1>Vos commandes</h1>

  <div class='searchform'>
      <%= form_tag(restaurant_orders_path, method: 'get') do %>
      <div class="field p-3 d-flex justify-content-around align-items-center">
        <%= 'Fournisseur :' %><%= text_field_tag 'supplier' %>
      </div>

      <% end %>
  </div>
</div>

<div class='searchform'>
    <%= form_tag restaurant_orders_path, method: 'get' do %>
      <div class="field">
        <%= label_tag "Recherche par fournisseur" %>
        <%= text_field_tag 'supplier' %>
      </div>
    <% end %>
  </div>



