<div class=landing-page>

    <div class="title-landing">
  <h1>Bienvenue sur SimplyRest</h1>
  <h3>Logiciel de gestion pour restaurateurs</h3>
  </div>


  <div class=signin-form-landing>
    <div>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Se connecter", class:"button-green col-md-12"  %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>


<div class="bott">
<h2>Comment ça marche ?</h2>
  <div class="company-descritpion">

  <div class="card-description">
    <div>
      <i><%= image_tag "order.png" %></i>
    </div>
    <div>
      <h4>Commandes simplifiées</h4>
      <p>Passez vos commandes en quelques clics auprès de vos fournisseurs.</p>
    </div>
  </div>

  <div class="card-description">
    <div>
      <i><%= image_tag "supplier.png" %></i>
    </div>
    <div>
      <h4>Stocks mis à jour</h4>
      <p>Contrôlez l'état de vos stocks en temps réels.</p>
    </div>
  </div>

  <div class="card-description">
    <div>
      <i><%= image_tag "kpi.png" %></i>
    </div>
    <div>
    <h4>KPI et data</h4>
    <p>Retrouvez toutes les données pertinentes de votre activé.</p>
    </div>
  </div>

  </div>

</div>

 <div class="footer">
    <div class="footer-links">
      <%= link_to " " %><i class="fab fa-instagram logo"></i></a>
      <%= link_to " " %><i class="fab fa-facebook logo"></i></a>
      <%= link_to " " %><i class="fab fa-twitter logo"></i></a>
      <%= link_to " " %><i class="fab fa-linkedin logo"></i></a>
    </div>
    <div class="footer-copyright">
     <i class="far fa-building"></i> Le Perchoir, 14 Rue Crespin du Gast, 75011 Paris
    </div>
  </div>



