<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.mariusetlucien.fr/i/marius-et-lucien-373541/3/4/8/1/5/9/1/5/0/3/2/5/5/1508396949_300/85c7d11c4fd69a9fbe33602733b3f86b.clandscape_hd.jpg);">
  <div class="container d-flex text-center text-align">
    <h1>Bonjour Pierre Fersing !</h1>
  </div>
</div>

<div class="charts-container">


    <div>
      <div class="alertskpis">
          <div>
              <div class="alerte-stocks-top5">
                <h2>
                <i class="warning-logo" ><%= image_tag "warning.png" %></i>
                TOP 5: NIVEAU DE STOCK FAIBLE
                </h2>
              <div class="flash flash-danger alert-dismissible fade show" role="alert">
                    <div class="cards-dash-list">
                      <%@topfive.each do |item| %>
                        <div class="card-dash">
                          <i class = "dash-article-photo"><%= image_tag "carotte.png"%></i>
                          <span><strong><%= item.product.name %></strong></span>
                          <span class="dash-article-unit"><em><%= item.quantity %> kg</em><i class = "dash-arrow-photo"><%= image_tag "arrow.png"%></i></span>
                        </div>
                      <% end %>
                    </div>
              </div>
            </div>

          <div class="flash flash-success alert-dismissible fade show" role="alert">
              <span><strong>Best performer </strong> : Boeuf Bourguignon - Ventes hebdomadaires en hausse de + 14% !</span>
              <a data-dismiss="alert" aria-label="Close">
                <i class="fas fa-times"></i>
              </a>
            </div>
          </div>

        <div class="flash flash-warning alert-dismissible fade show" role="alert">
          <span><strong>Remarque :</strong> Rillettes de thon : Vente en baisse de 14% depuis plus d'un mois.
            <br>
          Il est recommandé de réviser le nombre de plats moyen paramétré pour le suivi des stocks.</span>
          <a data-dismiss="alert" aria-label="Close">
            <i class="fas fa-times"></i>
          </a>
        </div>
      </div>

    </div>
    <div class="charts-second">

    <div class="miniature chart-product">
      <canvas id="bar-chart-grouped"></canvas>
    </div>

    <div class="sales-recipes chart-product">
      <canvas id="doughnut-chart" ></canvas>
    </div>

  </div>
</div>
