  <header>
    <div id="cd-cart-trigger"><a class="toggle-cart" href="#">ToggleCart</a></div>
  </header>

<div class="shopping active">
<!-- nav bar des commandes par fournisseurs -->
  <nav id="main-nav">
    <ul class="list-inline tabs-underlined d-flex">
      <li>
          <% @orders.each do |order| %>

            <% if order.delivered? == false && order.validated == false %>
              <input id="tab_<%= order.id %>" data-order="<%= order.id %>" type="radio" name="tabs" class="tab radio">
              <label for="tab_<%= order.id %>"><%= order.supplier.name%></label>
            <%end %>
          <%end %>
      </li>
    </ul>
  </nav>

  <div id="cd-cart">
    <h2>Mon panier</h2>

      <% @orders.each do |order| %>
        <% total = 0 %>
        <% @order_total = 0 %>
        <div class="order-items d-none" id="<%= order.id %>">
          <% order.order_items.each do |order_item| %>
            <span> <strong> <%= order_item.supplier_item.product.name %></strong></span> <br>
            <span class="cd-qty"><%= order_item.quantity %><%= order_item.unit %> à <%= order_item.supplier_item.price_per_product %>€ le <%= order_item.unit %></span>

            <% total = total + (order_item.quantity * order_item.supplier_item.price_per_product) %>
            <p id="total">Total: <%= total %> €</p>

            <% @order_total += total %>
          <%end %>
          <% if order.delivered? == false && order.validated == false %>
            <p id="grand-total">Total : <%= @order_total %> € </p>
            <button class="btn-success rounded-pill order-btn">Valider</button>
            <button class="btn-danger rounded-pill order-btn">Annuler</button>
          <%end %>
        </div>
      <%end %>

  </div> <!-- cd-cart -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/main.js"></script> <!-- Gem jQuery -->
</div>
