<!DOCTYPE html>
<html>
  <head>
    <title>SIMPLYREST</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'logo.png'%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= render 'shared/sidebar' if current_user %>

    <div class="container_with_sidebar">
      <%= yield %>
    </div>

  </body>
</html>
